/*#region GENERAL*/
*,body {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*#endregion GENERAL*/

/*#region HEADER */
header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0px 20px;
    overflow: hidden;
    background: linear-gradient(to bottom right, #55dcc3, chartreuse);
}
h1 {
    padding-top : 20px;
    font-size: 4em;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333; 
    text-shadow: 10px 10px 2px #CCCCCC, 0 0 1em #999999, 0 0 0.2em #CCCCCC;
}
/*#endregion HEADER*/

/*#region MAIN */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}
ul {
    list-style: square;
    margin-left: 2em;
}
p {
    margin-left: 1em;
}
.text {
    font-size: xx-large;
}
/*#endregion MAIN*/

/*#region IMAGE */
img {
    width: 30%;
    display: inline-block;
    margin: auto;
}
/*#endregion IMAGE*/

/*#region INSCRIPTION */
.level-button {
    background-color: #ccc;
    height: 100px;
    width: 100px;
    font-size: 50px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
}
.level-button.selected {
    background-color: #fdfd96;
}
.inscription {
    display: flex;
    flex-direction: column;
}
.playerName {
    display: flex;
    margin-left:2em;
    margin-top: 1em;
    font-size: 50px;
}
.level {
    display: flex;
    margin-left:2em;
    margin-top: 1em;
    font-size: 50px;
}
input {
    font-size: 45px;
    margin-left: 10px;
    padding-left: 5px;
}
.validate {
    display: flex;
    justify-content: center;
}
#validate {
    margin: 1em 0 1em 25px;
    background-color: #ccc;
    height: 100px;
    width: 500px;
    font-size: 50px;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 3px 3px aqua;
}
#validate:hover {
    background-color: #fdfd96;
}
/*#endregion INSCRIPTION*/

/*#region FOOTER */
footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, #55dcc3, rgb(30, 30, 82));
    background-color: #F2F2F2; 
}
.copyr {
    font-size: 24px;
    margin: 15px 0px;
    text-align: center;
    color: #999999; 
}
/*#endregion FOOTER*/